# --- Environnement virtuel ---
venv/

# --- Fichiers Python temporaires ---
__pycache__/
*.pyc
*.pyo
*.pyd

# --- Fichiers de base de données temporaires ---
db.sqlite3

# --- Fichiers d'environnement et secrets ---
.env

# --- Fichiers de logs ---
*.log

# --- Cache de l'éditeur ---
.vscode/
.idea/

# --- Fichiers médias (audio généré par TTS) ---
media/
