.bg-gdd {
  color: #010b27 !important;
}
/*navbar style*/

body {
  padding-bottom: 20px;
}

.navbar {
  margin-bottom: 20px;
}
/**/

.bg-gdd {
  background-color: #286cdb !important;
}

.text-gdd {
  color: #0a53be !important;
  /*border-bottom: 5px solid white !important;*/
}

.bg-gdd:hover {
  background-color: #f0f0f0 !important;
  color: black !important;
}

nav .active {
  color: #0a53be !important;
}

.carousel-overlay {
  background-color: rgba(0, 0, 0, 0.658);
  position: absolute;
  top: 0;
  left: 0;
  z-index: 10;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.carousel-item img {
  height: 100vh !important;
}

.cercle {
  border-radius: 50%;
  width: 140px;
  height: 140px;
  background-color: #0a53be;
  overflow: hidden;
  object-fit: contain;
  object-position: center;
}

.barre-verticale {
  width: 10px;
  height: 60px;
  background-color: #0a53be;
  /* box-shadow: -3px 0 5px rgba(0, 6, 24, 0.3), -5px 0 8px rgba(0, 6, 24, 0.09); */
}

.adhesion:hover {
  color: #0a53be !important;
}

.adhesion:hover a {
  background-color: #0a53be !important;
  color: white !important;
}

 {
  color: #010b27 !important;
}

.brand {
  animation: blink 1s step-start infinite;
}

@keyframes blink {
  50% {
    border-color: transparent;
  }
}

.realisation .text-gdd {
  border-bottom: none !important;
}

footer a:hover {
  color: #0a53be !important;
}
